* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  margin: 5px;
}

h1 {
  color: grey;
}

ul {
  background-color: #333333;
}

li {
  display: inline;
}

li a {
  text-decoration: none;
  padding-left: 14px;
  text-align: center;
  color: white;
}

li a:hover {
  background-color: #111;
}


