body {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

header li {
  display: inline;
}

header li a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

footer {
  color: #888888;
  border-top: 1px solid #eee;
  margin-top: 16px;
  padding-top: 16px 0;
}

figure {
  margin: 0;
  padding: 0;
}

/*  fix figure bug */
/* img {
  display: block;
} */

.portrait {
  width: 250px;
  display: block;
}

input {
  border: 1px solid #cccccc;
  padding: 8px;
}

button {
  cursor: pointer;
  border: 1 solid #888888;
  background: #888888;
  color: white;
  padding: 8px;
}
